<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bm.pap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InicialActivity" >
        </activity>
        <activity android:name=".PrincipalActivity" >
        </activity>
        <activity android:name=".CadastroActivity" >
        </activity>
        <activity android:name=".CriarPartidaActivity" >
        </activity>
        <activity android:name=".PerfilActivity" >
        </activity>
        <activity android:name=".MeusCampeonatosActivity" >
        </activity>
        <activity
            android:name=".EditarCampeonatoActivity"
            android:label="@string/title_activity_tela_editar_campeonato" >
        </activity>
        <activity
            android:name=".NovoCampeonatoActivity"
            android:label="@string/title_activity_activity_novo_campeonato" >
        </activity>
        <activity
            android:name=".RegrasActivity"
            android:label="@string/title_activity_regras" >
        </activity>
    </application>

</manifest>
