<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bm.pap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivitySplash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityInicial" >
        </activity>
        <activity android:name=".ActivityPrincipal" >
        </activity>
        <activity android:name=".ActivityCadastro" >
        </activity>
        <activity android:name=".ActivityCriarPartida" >
        </activity>
        <activity android:name=".ActivityPerfil" >
        </activity>
        <activity android:name=".ActivityMeusCampeonatos" >
        </activity>
        <activity
            android:name=".ActivityEditarCampeonato"
            android:label="@string/title_activity_tela_editar_campeonato" >
        </activity>
        <activity
            android:name=".ActivityNovoCampeonato"
            android:label="@string/title_activity_activity_novo_campeonato" >
        </activity>
    </application>

</manifest>
